* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
.app {
  background: url("../img/Flowers.png") no-repeat center right;
  font-size: 20px;
  line-height: 120%;
  color: #2f2f2f;
  font-family: "Montserrat", sans-serif;
}
.container {
}
.header {
}
.time {
  font-weight: 500;
}
.description {
  margin-top: 68px;
  width: 400px;
}
h1 {
  font-family: "Montserrat Alternates", sans-serif;
}

.description-text {
}
.input-group {
  position: relative;
}
.phone-input {
  font-family: "Montserrat", sans-serif;
}
.phone-input ::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.input-group::after {
  content: "+7";
  position: absolute;
  left: 47px;
  top: 15px;
}
.button-next {
}

.footer {
  margin-top: 76px;
  font-size: 16px;
  line-height: 20px;
  display: flex;
}
.footer-text {
  margin-bottom: 11px;
}
.footer-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-cards {
  width: 164px;
}
.footer-social {
  width: 145px;
}
.social-links {
  margin-left: 166px;
}
/* .button-next:hover {
  transform: translate(2px, 2px);
  -webkit-transform: translate(2px, 2px);
  -moz-transform: translate(2px, 2px);
  -ms-transform: translate(2px, 2px);
  -o-transform: translate(2px, 2px);
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
}
.footer-social img:hover {
  transform: translate(2px, 2px);
  -webkit-transform: translate(2px, 2px);
  -moz-transform: translate(2px, 2px);
  -ms-transform: translate(2px, 2px);
  -o-transform: translate(2px, 2px);
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
} */
